{{with .Book}}
<div class="single-book">
    <div class="meta">
        <div class="title">{{.Name}}</div>
        <div class="buttons">
            <a href="/download/{{.Name}}" class="button download">Download PDF</a>
            <a class="button read" href="/static/reader/viewer.html?file=/download/{{.Name}}">Read</a>
        </div>
    </div>
</div>
{{end}}