<div class="current-view books list">
    {{range .Books}}
    <div class="book">
        <div class="meta">
            {{if .IsPDF}}
            <a href="/static/reader/viewer.html?id={{.ID}}">{{.Name}}</a>
            {{else}}
            <a href="/static/reader/epub/spreads.html?id={{.ID}}">{{.Name}}</a>
            {{end}}
        </div>
    </div>
    {{end}}
</div>

{{if not .Books}} Not found (or still indexing){{end}}