 #snackbar {
  visibility: hidden;
  background-color: #de4348; 
  color: #fff;
  text-align: center;
  border-radius: 2px; 
  padding: 16px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
  font-size: 13px;
  font-weight: bold;
}

#snackbar.show {
  visibility: visible;
}